
body {
    font-family: Arial, sans-serif;
    background-color: #033431; 
    padding: 0;
    margin: 0;
}



nav {
    background-color: #c09562;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

nav a {
    color: #fff;
    text-decoration:none;
    padding: 10px;
    margin: 0 30px;
    border: 2px;
}

nav a:hover {
    background-color: #c98f49;
    margin: 0 30px;
    padding: 10px;
    border-radius: 10px;
}

section {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
    ;
}

.about-content {
    padding: 20px;
    color: #fff; 
}

footer {
    background-color: #c09562; 
    color: #fff; 
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about-content h2 {
    animation: slideInFromLeft 1s ease-out;
}

.about-content p {
    animation: slideInFromRight 1s ease-out;
}

@keyframes slideInFromLeft {
    from {
        margin-left: -100%;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        margin-right: -100%;
        opacity: 0;
    }
    to {
        margin-right: 0;
        opacity: 1;
    }
}
