:root{
    --background: #033431;
    --background-card: #6B626C;
}
* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #033431;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #c09562;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

nav a {
    color: #fff;
    text-decoration:none;
    padding: 10px;
    margin: 0 30px;
    border: 2px;
}

nav a:hover {
    background-color: #c98f49;
    margin: 0 30px;
    padding: 10px;
    border-radius: 10px;
}
section {
    max-width: 1100px;
    margin: 20px auto;
    padding: 20px;;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
}

.brand{
    font-size: xxx-large;
    font-style: italic ;
    font-weight: bold;
    font-family:Georgia, 'Comic Sans', Times, serif;
    color: #f1decd;
}

.background {
    background-color: var(--background);
    display: grid;
    place-items:center;
    height: 100vh;
}
.gallery {
    display: flex;
    left: calc (50% - 330px);
}
.card {
    position: relative;
    left: 0px;
    width: 110px; height: 160px;
    background-color:var(--background-card);
    border-radius:8px;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px Orgba(0, 0, 0,0.5);
    
}

.card:not(:first-child) {
    margin-left: -45px;
}
.card:hover {
    transform: translateY(-16px); 
    font-weight: bold;
    cursor: pointer;
}

.card:hover ~ .card {
    left: 55px;
}
.card img {
    height:160px;
    object-fit: cover;
    border-radius: 4px;
}
@media only screen and (max-width: 768px) {
    .card {
        width: 40vw; 
        height: 60vw; 
    }
}
